body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.write {
  color: rgba(0, 0, 0, 0.856);
  background-color: rgb(255, 255, 255);
  font-size: 15px;
  height: 110vh;
}

.black {
  color: rgb(255, 255, 255);
  background-color: rgb(58, 57, 57);
  font-size: 15px;
  height: 110vh;
}